@use "../utils/_index" as *;

.actions {
  &__content {
    padding-bottom: 30px;
    @include adaptive-property(padding-top, 30, 0, 108);
  }
  &__main {
    display: flex;
    justify-content: center;
    row-gap: 50px;
    column-gap: 15px;
    flex-wrap: wrap;
    @include adaptive-property(margin-bottom, 25, 0, 50);

    @include on-tablet {
      justify-content: space-evenly;
    }
    @include on-desktop {
      flex-wrap: nowrap;
      justify-content: space-between;
      // column-gap: 10px;
    }
  }
  &__button-blocks {
    flex: 0 0 60%; //60
    display: flex;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 20px;
    flex-wrap: wrap;

    @media (min-width: 550px) {
      flex-wrap: nowrap;
      justify-content: center;
    }
    @include on-tablet {
      justify-content: space-between;
    }
  }
  &__lists {
    flex: 0 0 100%; /* 677/1115 */
    display: flex;
    justify-content: space-evenly;
    column-gap: 10px;

    @include on-mobile-l {
      flex: 0 0 100%; /* 677/1115 */
    }
    @include on-tablet {
      flex: 0 0 40%;
    }
    // @include on-desktop {
    //   column-gap: 69px;
    // }
  }
  &__list {
    display: flex;
    flex-direction: column;
    @include adaptive-property(row-gap, 0.75, 0, 1.5, rem);
  }
  &__link {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 128.571429%; /* 18px/14 */
    letter-spacing: 0.1px;
    color: $color-green;
  }
  &__footer {
    display: flex;
    column-gap: 0.625rem;
    color: $color-green;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 133.333333%; /* 16px/12 */
    letter-spacing: 0.2px;
  }
}
.button-block {
  flex: 0 0 100%;
  max-width: 240px;
  @include on-mobile-l {
    max-width: 300px;
  }
  &__title {
    color: $color-green;
    font-weight: 500;
    line-height: 133.333333%; /* 24px/18 */
    letter-spacing: 0.2px;
    margin-bottom: 0.3125rem;
    font-size: 1.125rem;
    text-align: center;
    @include on-mobile-l {
      text-align: left;
    }
  }
  &__text {
    color: $color-green;
    font-size: 0.875rem;
    line-height: 157.142857%; /* 22px/14 */
    letter-spacing: 0.1px;
    margin-bottom: 1.0625rem;
  }
  &__button:not(:last-child) {
    margin-bottom: 1.0625rem;
  }
}
