@use "../utils/_index.scss" as *;

.section-title {
  line-height: 125%;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: $color-olive;
  padding-inline: 0.625rem;
  @include adaptive-property(font-size, 1.125, 0, 2, rem);
}
.section-header {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 1.25rem;

  &__img {
    width: 138px;
    height: 15px;
    @include ibg;
  }
}

//=================================BUTTON=============================
.button {
  min-width: fit-content;
  max-width: 195px;
  padding-inline: 0.875rem;
  padding-block: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.875rem;
  letter-spacing: 0.2px;
  font-weight: 600;
  line-height: 128.571429%; /* 18px/14 */
  color: $color-green;

  border-radius: 5px;
  border: 2px solid currentColor;
  background-color: rgba($color: #fff, $alpha: .6);

  transition: $transition-duraction;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.button--color-olive {
  color: $color-olive;
}
.button--bg {
  border-color: $color-green;
  background-color: $color-green;
  color: #fff;
}

// ==============================LOGO
.logo {
  display: flex;
  align-items: center;

  &__img {
    display: block;
    aspect-ratio: 1 / 1;
    @include adaptive-property(width, 42, 0, 60);
    @include ibg;
  }
}