@use "../utils/_index" as *;

.contact {
  @include position-r;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../../images/contact.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    @media (min-width: 1368px) {
      background-size: contain;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    @include adaptive-property(row-gap, 1, 0, 2, rem);
    @include adaptive-property(padding-bottom, 120, 0, 240);
    @include on-mobile-l {
      @include adaptive-property(margin-left, 50, 0, 250);
    }
  }
  &__text {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
    color: $color-olive;
    font-weight: 500;
    line-height: 133.333333%; /* 24px/18 */
    letter-spacing: 0.2px;
    text-align: center;
  }
}
