@use "../utils/_index" as *;

@keyframes open-anim {
  50% {
    width: 300%;
    height: 300%;
  }

  100% {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes not-open-anim {
  0% {
    width: 300%;
    height: 300%;
  }
}

.menu {
  @media (max-width: 1024.9px) {
    &__body {
      position: fixed;
      right: 0;
      top: 0;
      width: 0px;
      height: 0px;
      background-color: #cca9a9;
      border-bottom-left-radius: 100%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
      animation: not-open-anim 0.2s both;
      transition: 0.2s;
      overflow: auto;
      z-index: 2;
      order: -3;
    }

    &__list {
      padding: 100px 30px 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 2.5rem;
    }

    &__item,
    &__link {
      opacity: 0;
      span {
        font-size: 1.8rem;
      }
    }
  }

  @media (min-width: 1025px) {
    &__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 1.6875rem;
      row-gap: 1.5rem;
    }
  }

  &__link {
    @include adaptive-property(font-size, 1.5, 1.125, 1.125, rem);
    @include position-r;
    display: inline-block;
    color: $color-olive;
    font-size: 18px;
    font-weight: 500;
    line-height: 133.333333%; /* 24px/18 */
    letter-spacing: 0.2px;
  }
}

.menu__body.open {
  padding: 100px 30px 50px;
  animation: open-anim 0.6s ease both;
}

.menu__body.open li,
.menu__body.open a {
  opacity: 1;
  transition: 0.4s ease-in-out 0.25s;
}

$menu-size: 40px;
$line-height: 3px;
$gap: $line-height * 5;
$bg-color: $color-olive;
$radius: 5px;

%menu-dash {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: $bg-color;
  width: $menu-size;
  height: $line-height;
  border-radius: $radius;
}

.burger {
  @media (max-width: 1024px) {
    width: $menu-size;
    height: $menu-size;
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    user-select: none;
    -webkit-touch-callout: none;
    touch-action: manipulation;
    cursor: pointer;
    z-index: 5;
  }

  span {
    @extend %menu-dash;
    margin-top: $line-height / -2;
  }

  &:before {
    content: "";
    @extend %menu-dash;
    margin-top: -$gap + ($line-height / -2);
  }

  &:after {
    content: "";
    @extend %menu-dash;
    margin-top: $gap + ($line-height / -2);
  }

  display: none;
}

.both-hidden {
  &:before,
  &:after {
    transition: 0.2s ease 0.2s;
  }

  &:after {
    left: auto;
    right: 0;
  }

  span {
    transition: 0.2s;

    &:before {
      @extend %menu-dash;
      content: "";
      transition: inherit;
      left: 0;
      top: 0;
    }
  }

  &.active {
    &:before,
    &:after {
      transition: 0.2s ease;
      width: 0;
    }

    span {
      transform: rotate(45deg);
      transition: 0.2s ease 0.2s;

      &:before {
        transform: rotate(-90deg);
      }
    }
  }
}
.dott {
  &:before,
  &:after {
    transition-property: margin, opacity;
    transition-duration: 0.25s, 0s;
    transition-delay: 0.25s;
  }

  span {
    transition: 0.25s ease;
  }

  &.active {
    span {
      $menu-dott: $menu-size / 2;

      width: $menu-dott;
      height: $menu-dott;
      margin-top: $menu-dott / -2;
      left: $menu-dott;
      border-radius: 80%;
      transition-delay: 0.25s;
    }

    &:before,
    &:after {
      margin-top: 0;
      opacity: 0;
      transition-delay: 0s, 0.25s;
    }
  }
}
