@use "../utils/index" as *;

.fill-center {
  margin-left: 500px;
  position: relative;
  border-color: $color-green;
  background-color: $color-green;
  color: #fff;
  transition: color $transition-duraction ease-out 0.1s;

  &::before {
    position: absolute;
  content: "";
  border-radius: 50%;
  display: block;
  width: 300px;
  height: 300px;
  transition: box-shadow $transition-duraction ease-out;
  z-index: -1;
  }

  @include hover {
    color: $color-green;
    border-color: #cbdd7a;
  }
  @include hover-pseudo('::before') {
    box-shadow: rgb(203, 221, 122) 0px 0px 0px 11em inset;
  }
}

.border-flip {
  display: inline-block;
  padding: 15px;
  width: 180px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  background: none;
  border: none;
} 
 
.border-flip::before {
  content: "";
  position: absolute;
  inset: 0px;
  transform: perspective(350px) rotateX(0deg);
  transition: 0.35s;
} 
 
.border-flip:hover::before {
  transition: 0.35s;
  transform: perspective(350px) rotateX(-180deg);
} 
 
.border-flip--green {
  color: rgb(84, 187, 108);
} 
 
.border-flip--green::before {
  border: 3px solid rgb(84, 187, 108);
} 
 
.btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
} 
 
.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
} 
 
