@use "../utils/index" as *;

.scroll-swing-in-top {
  transition: opacity $transition-duraction ease-in-out var(--delay),
    transform $transition-duraction ease-in-out var(--delay);
  transform: rotateX(-100deg);
  transform-origin: top;
  opacity: 0;
}
.scroll-swing-in-top.active {
  transform: rotateX(0deg);
  transform-origin: top;
  opacity: 1;
}
